

app = "jhe"
primary_region = "ewr"
console_command = "/code/manage.py shell"

[build]
  dockerfile = "Dockerfile"

[deploy]
  release_command = "python manage.py migrate --noinput"

[env]
  PORT = "8000"
  DJANGO_LOG_LEVEL = "INFO"
  SITE_URL = "https://jhe.fly.dev"


[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1

[[http_service.checks]]
  grace_period = "30s"
  interval = "15s"
  method = "GET"
  path = "/health"
  timeout = "5s"

[[statics]]
  guest_path = "/code/static"
  url_prefix = "/static/"
